.form {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.form__wrapper {
  position: relative;
}

.form__input,
.form__button {
  width: 400px;
  border: 2px solid rosybrown;
  border-radius: 4px;
  background-color: whitesmoke;
  color: rosybrown;
  font-weight: 600;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.form__input {
  padding: 15px;
  padding-right: 90px;
  &:focus-within {
    outline: 2px solid burlywood;
    background-color: rosybrown;
    color: whitesmoke;
  }

  &::placeholder {
    font-weight: 200;
    color: rgba(188, 143, 143, 0.4);
  }
}

.form__button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 80px;

  padding: 10px;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: rosybrown;
    color: whitesmoke;
  }

  &:focus {
    outline: 2px solid burlywood;
  }
}
