.gallery {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.gallery__card {
  width: calc((100% - 60px) / 3);
  border-radius: 8px;
  background-color: whitesmoke;
}

.gallery__image {
  width: 100%;
}

.gallery__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  text-align: center;
  color: rosybrown;
}
